/* styles.module.css */

.calendarContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.calendarItem {
    background-color: #386662;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.scrollableTile {
    max-height: 200px;
    overflow-x: auto;
    overflow-y: auto;
}

.nonBusyTime {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: 14px;
    background-color: transparent; 
}

.high {
    background-color: #07be5d !important; 
}

.medium {
    background-color: #aaaaff!important; 
}

.low {
    background-color: #c23d3db1 !important; 
}

.itemName {
    font-size: 1.2rem; 
    color: #333; 
    font-weight: bold;
    margin-bottom: 4px; 
}

.itemDescription {
    font-size: 1rem; 
    color: #555; 
    margin-bottom: 8px; 
    line-height: 1.5; 
}

.itemContainer {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.sidebar-open {
    background: linear-gradient(135deg, #528582, #2E475C) 50% 50% no-repeat;
    height: 100vh; 
    width: 250px;
    position: fixed; 
    left: 0; 
    top: 0; 
    overflow-y: auto; 
    transition: left 0.3s; 
    margin-top: 5vh;
}

.sidebar-closed {
    background: linear-gradient(135deg, #528582, #2E475C) 50% 50% no-repeat;
    height: 100vh; 
    width: 250px; 
    position: fixed; 
    left: -250px; 
    top: 0; 
    overflow-y: auto; 
}

  