.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 20px;
  margin: auto;
  max-width: 90%; 
  background: linear-gradient(135deg, #77aeaa, #2E475C) 50% 50% no-repeat;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ba0a51bb;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #8c093dbb;
}


.text {
  color: white;
  text-align: center;
  margin: 10px;
}

.timeButtonContainer {
  position: relative;
}

.dropdownContainer {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown {
  width: 100%;
}

