.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 20px;
  margin: auto;
  max-width: 90%; 
  background: linear-gradient(135deg, #77aeaa, #2E475C) 50% 50% no-repeat;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: white;
  text-align: center;
  margin: 10px;
}

