.dropdown {
  background-color: #398d86; 
  color: #fff;
  padding: 9px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 15vh;
}

.dropdownBtn {
  background-color: #398d86; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.calendarView
{
  margin: 10vh;
}