/* styles.module.css */

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendarContainer {
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendarContainer a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    font-size: 24px;
    margin-bottom: 10px;
}

.subContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.subContainer a {
    color: #f9f9f9;
    text-decoration: none;
}


.buttonWrapper {
    display: flex;
    justify-content: center;
}

.updateButton {
    background-color: #ba0a51bb;
    color: #ffffff;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton {
    background-color: #6d6f72;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.modal .header {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal .content {
    margin-top: 20px;
}

.modal .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal .button {
    background-color: #ba0a51bb;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal .close {
    background-color: #7d7d7d;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.inviteButton
{
    background-color: #c80754cc;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.container {
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.05);
}

.name {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.button {
    background-color: #398d86;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0.5rem;
}

.button:hover {
    background-color: #2c6d66;
}

